<div class="settings-local-wrapper">
    <div class="settings-inner-wrapper">
        <form #form="ngForm" class="form-horizontal" novalidate>
            <div class="settings-title">
                    <h2>{{'DCSettings' | sp3Translate}}
                        <span class="pull-right">  
                            
                                <button id="saveChangesProfiler" class="btn btn-default" (click)="saveChanges()" id="profilerSaveChanges" [disabled] = "invalidFlag">{{'SaveChanges' | sp3Translate}}</button>
                                <button id = "cancelChangesProfiler" class="btn btn-default" (click)="revertDetails()" id="cancelProfileeChanges" [disabled]="invalidCancelFlag">{{'Cancel' | sp3Translate}}</button>
                            
                        </span>
                    </h2>
                </div>           

                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover"> 
                                <thead>
                                        <tr>
                                            <th class="text-left">{{'Parameter'| sp3Translate}}</th>
                                            <th class="text-left">{{'Value'| sp3Translate}}</th>
                                        </tr>

                                </thead>
                                <tbody> 
                                        <tr *ngFor="let category of dcCategories; let in = index">
                                            <td>{{category.settingsName}}</td>
                                            <td><div class="form-group">
                                                <input [(ngModel)]="category.settingsValue" name="thresholdField - {{in}}" [id]="category.settingsName" class="form-control" myNumberOnly regexKey="{{regexKey}}" minValue="0" maxValue="10000" (input)="onDataChange()">
                                            </div>
                                            </td>
                                            <!-- <td><div class="form-group">
                                                <input [(ngModel)]="category.settingsValue" name="thresholdField - {{in}}" [id]="1" class="form-control" myNumberOnly regexKey="{{regexKey}}" minValue="0" maxValue="100" (input)="onDataChange()"></div></td>
                                            -->
                                            </tr>
                                </tbody>
                                <tfoot>
                                       <tr> 
                                           <td colspan="2" class="text-danger" *ngIf="!invalidCancelFlag && invalidFlag">{{'ThresholdNumberRangeMessageDC' | sp3Translate}}</td>
                                        </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
        </form>

    </div>
</div>
