/**To Layered Div Box */
/* Styles*/
.verdict-list{
    margin-bottom: 16px;
}
.verdict-list ul{
    list-style: none;
    padding: 0px;
}
.verdict-list ul li{
   width: 100%;
   float: left;
   padding: 16px 0px;
}
.verdict-list ul li.list-header{
    background: #e8eef5;
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
    font-family: ProximaNova-Bold;
    height: 40px;
}

.findings-result-list{
    width: 100%;
    max-height: calc(100vh - 400px);
    overflow-y: auto;
    float: left;
    overflow-x: hidden;
    word-break: break-word;
}
.zeropadding{
    padding: 0px;
}
.paddingtrim{
    padding: 0px 8px
}
.findingsactionsbtns{
    margin-bottom: 8px;
}
.two-layer-container{
		position: relative;
		overflow: hidden;
	.two-layer-square{
      width: 36px;
      height: 36px;
      background-color: $gray-base;
     .two-layer-overlay {
        position: absolute;
        width: 559px;
        height: 305px;
        background-color: $text-color-white;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        transition: all 1s;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
      }
	}
}
.text-on-2-layers {
    margin-top: -35px;
    z-index: 19;
    color: $text-color-white;
    position: relative;
    margin-left: 7px;
    font-family: 'ProximaNova-Bold', Helvetica, Arial, sans-serif;
}

.verdict-list ul li.row-declared, .verdict-list ul li.row-declared .two-layer-container .two-layer-square .two-layer-overlay{
    background: #cfcfcf;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .findingscolumns{
        margin-top: 16px;
        padding: 0 16px;
    }
    .findingsactionsbtns{
        margin: 16px 0px;
    }
    .fidingslabels{
        font-size: 16px;
        font-weight: 300;
        font-family: ProximaNova-Bold;
    }
    .findingsactionsbtns{
        margin-bottom: 0px;
    }
    .modal-larger {
        width: 90%;
    }

}
