.tooltips {
  position: relative;
  display: inline;
}
.tooltips span {
  position: absolute;
  width:14em;
  color: #E92B2B;
  font-weight: 600;
  background: #F57272;
  height: auto;
  min-height: 2em;
  text-align: center;
  visibility: hidden;
  border-radius: 4px;
}
.tooltips span:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -8px;
  width: 0; height: 0;
  border-right: 8px solid #F57272;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.tooltips span {
  visibility: visible;
  opacity: 1;
  left: 89%;
  top: -7%;
  
  z-index: 999;
}